branches:
  only:
    - master

language: php

services:
  - mysql

env:
  global:
    - WP_DB_USER=wp
    - WP_DB_PASS=password
    - WP_DB_NAME=wp_tests
    - WP_VERSION=*

php:
  - 8.0
  - 7.4
  - 5.6

matrix:
  include:
    - php: 5.6
      env: WP_VERSION=4.9.*

before_script:
  - mysql -u root -e "GRANT ALL PRIVILEGES ON ${WP_DB_NAME}.* TO ${WP_DB_USER} IDENTIFIED BY '${WP_DB_PASS}';"
  - mysql -u root -e "CREATE DATABASE ${WP_DB_NAME};"

install:
  - composer validate --strict
  - composer require --no-update --dev roots/wordpress:${WP_VERSION} wp-phpunit/wp-phpunit:${WP_VERSION}
  - "[ $TRAVIS_PHP_VERSION == '8.0' ] || composer install"
  # Temporary hack to allow installing PHPUnit 7 with PHP 8 until WP 5.9.
  # as WP PHPUnit does not allow PHPUnit higher than 7 yet.
  # See https://github.com/WordPress/wordpress-develop/commit/8def694fe4c5df95f8e20e40389faf9cb92b6dca
  - "[ $TRAVIS_PHP_VERSION != '8.0' ] || composer install --ignore-platform-reqs"
  - composer show

script:
  - composer test
